<h4 mat-dialog-title>Editar Producto</h4>
<div class="editProdu" mat-dialog-content>
  <div *ngIf="status === 0" class="alert alert-success">Registro exitoso!</div>
  <div *ngIf="status === 1" class="alert alert-warning">No se pudo actualizar el Producto!</div>
  <div *ngIf="status === 2" class="alert alert-danger">Error de servidor!</div>

  <form class="col-md-8 mx-auto" #editForm="ngForm" (ngSubmit)="onSubmit(editForm)">
    <input id="id" type="text" [(ngModel)]="data.id" name="id" hidden>

    <div class="form-grid">
      <div class="form-group">
        <label for="nombre">Nombre:</label>
        <input type="text" class="form-control" [(ngModel)]="data.nombre" name="nombre" required>
      </div>
      <div class="form-group">
        <label for="precio">Precio:</label>
        <input type="number" class="form-control" [(ngModel)]="data.precio" name="precio" required>
      </div>
      <div class="form-group">
        <label for="descripcion">Descripción:</label>
        <input type="text" class="form-control" [(ngModel)]="data.descripcion" name="descripcion" required>
      </div>
      <div class="form-group">
        <label for="talla">Talla:</label>
        <input type="text" class="form-control" [(ngModel)]="data.talla" name="talla" required>
      </div>
      <div class="form-group">
        <label for="estado">Estado:</label>
        <input type="text" class="form-control" [(ngModel)]="data.estado" name="estado" required>
      </div>
      <div class="form-group">
        <label for="imagen">Imagen:</label>
        <div class="input-group">
          <input type="file" class="file-input" (change)="uploadImage($event)" #fileUpload hidden/>
          <input type="text" class="form-control" [value]="fileName || 'Archivo no ha sido seleccionado'" readonly/>
          <button class="btn btn-outline-secondary" type="button" (click)="fileUpload.click()">Seleccionar Archivo</button>
        </div>
      </div>
    </div>

    <div mat-dialog-actions class="text-right">
      <button mat-button type="button" class="btn btn-danger" (click)="onCancel()">Cancelar</button>
      <button mat-button type="submit" class="btn btn-success">Actualizar</button>
    </div>
  </form>
</div>
