

 <!-------------      New Login     ------------->


<div class="wrapper">
    <div class="container main">
        <div class="row">
            <div class="col-md-6 side-image">
                <img src="/assets/perro.jpg" alt="">
                <div class="text">
                    <p>Join the community of developers <i>- ludiflex</i></p>
                </div>
            </div>
            <div class="col-md-6 right">
                @if(status===0){
                    <p>Usuario y/o contraseña incorrecta</p>
                }@else if (status===1) {
                    <p>Error, desde el servidor. Contacte al administrador</p>
                }
                <div class="input-box">
                    <header>Inicia Sesion</header>
                    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
                        <div class="input-field">
                            <input class="input" name="email" type="email" #email="ngModel" [(ngModel)]="user.email" required>
                            <label>Email</label>
                        </div>
                        <div class="input-field">
                            <input class="input" name="password" type="password" #password="ngModel" [(ngModel)]="user.password" required>
                            <label>Contraseña</label>
                        </div>
                        <div class="input-field">
                            <input type="submit" class="submit" value="Iniciar sesión">
                        </div>
                    </form>
                    <div class="signin">
                        <span>¿Ya tienes una cuenta? <a href="#">Inicia sesión aquí</a></span>
                    </div>
                </div>  
            </div>
        </div>
    </div>
</div>
