.card-formulario {
    font-family: 'Roboto', sans-serif;
    background-color: #ac9826; /* Color de fondo blanco */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 5px 5px 10px 1px rgba(27, 26, 26, 0.2);
    padding: 20px; /* Espaciado interno reducido */
    width: 40%; /* Ajustar el ancho del contenedor padre */
    margin: auto; /* Centrar la tarjeta */
}

.card-formulario h3{
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.card-formulario h5{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    }

.btn-centrado {
    display: block; /* Hacer que el botón sea un bloque para permitir márgenes automáticos */
    margin: 30px auto; /* Margen superior e inferior de 20px y centrado horizontalmente */
}

.logo{
    /*Centrar imagen*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*Tamano de la imagen*/
    width: 150px;
    height: 150px;
}