<br>
<div class="container">
  <div class="header">
    <button mat-icon-button [routerLink]="['/carrito']">
      <mat-icon>shopping_cart</mat-icon>
    </button>
  </div>

  <div class="catalogo">
    <input type="text" placeholder="Buscar prenda..." [(ngModel)]="buscaNom">
    <button mat-button class="buscar" (click)="buscar()">
      <mat-icon>search</mat-icon>Buscar
    </button>
    <br><br>
    <div class="productos">
      <mat-card class="producto" *ngFor="let producto of productosFiltrados">
        <mat-card-content class="contenido">
          <div class="imagen-container">
            <img [src]="url + 'producto/getimage/' + producto.imagen" class="imagen" alt="{{ producto.nombre }}">
          </div>
          <div class="detalle">
            <h3>{{ producto.nombre }}</h3>
            <p>Estado: {{ producto.estado }}</p>
            <p>Talla: {{ producto.talla }}</p>
            <p>Precio: ${{ producto.precio }}</p>
            <p>{{ producto.descripcion }}</p>
            <button mat-raised-button color="primary" class="btn-agregar" (click)="agregarAlCarrito(producto)">Agregar al Carrito</button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>