.navbar a{
    float: left;
    font-size: 1.1em;
    text-align: center;
    padding: 14px 16px;
}
.subnav a{
    float: left;
    font-size: 1em;
    color: #4e4d4d;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
}
.navbar a:hover, .subnav:hover{
    background-color: #1e5c2b;
}

.subnav {
    float: left;
    overflow: hidden;
}
.subnav .subnav-btn{
    font-size: 1.2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    padding: 14px 16px;
    background-color: inherit;
    margin: 0;
}
.subnav-content{
    display: none;
    position: absolute;
    left: 0;
    background-color: #e0dede;
    width: 100%;
    z-index: 1;
}
.subnav-content a{
    float: left;
    color:#eeeded;
    text-decoration: none;
}
.subnav-content a:hover{
    background-color: #f1efef;
    color: #faf8f8;
}

.subnav:hover .subnav-content{
    display: block;
}

.nav-link {
    color: white;
  }

footer {
    width: 100%;
    background-color: #23242a;
    color: white;
}

footer a {
    color: #fff;
    text-decoration: none;
}

.navbar-brand,
.nav-link,
.subnav-btn {
  color: white;
}
.nav-link.active {
    color: white;
  }
  