/* Estilo para la tabla */
h2 {
    color: black;
    font-size: 2rem; /* Tamaño del título */
    text-align: center;
    margin-bottom: 1rem; /* Espacio en la parte inferior del título */
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  thead {
    background-color: #f2f2f2;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #446149;
    color: white;
  }
  

  label {
    margin: 5px 0 2px;
  }
  
  .alert {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 3px;
  }
  
  .alert-success {
    background-color: #dff0d8;
    color: #3c763d;
  }
  
  .alert-warning {
    background-color: #fcf8e3;
    color: #8a6d3b;
  }
  
  .alert-danger {
    background-color: #f2dede;
    color: #a94442;
  }
  .buscar{
    background-color: #446149;
    color: white;
  }