<div>
  <input type="text" placeholder="Ingrese ID" [(ngModel)]="searchTerm" class="search-input">
  <button mat-button class="buscar" (click)="search()">
    <mat-icon>search</mat-icon>Buscar
  </button>
  <div class="button-Panel">
    <button mat-raised-button color="primary" [routerLink]="['/Admin']">
      Regresar
    </button>
  </div>


  <h2>Usuarios Registrados en el Sistema</h2>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Cédula</th>
        <th>Teléfono</th>
        <th>Dirección</th>
        <th>Rol</th>
        <th>Email</th>
        <th>Imagenes</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="users && users.length > 0">
        <tr *ngFor="let user of users">
          <td>{{ user.id }}</td>
          <td>{{ user.nombre }}</td>
          <td>{{ user.apellido }}</td>
          <td>{{ user.cedula }}</td>
          <td>{{ user.telefono }}</td>
          <td>{{ user.direccion }}</td>
          <td>{{ user.rol }}</td>
          <td>{{ user.email }}</td>
          <td><img src="{{url+'user/getimage/'+user.imagen}}" class="imagen" width="100"></td>
          <td>
            <button mat-button class="edit" (click)="actualizarUser(user)">
              <mat-icon>edit</mat-icon>Editar
            </button>
            <button mat-button class="delete" (click)="eliminarUser(user)">
              <mat-icon>delete</mat-icon>Eliminar
            </button>
          </td>
        </tr>
      </ng-container>
      <ng-container *ngIf="!users || users.length === 0">
        <tr>
          <td colspan="8">No hay Usuarios disponibles.</td>
        </tr>
      </ng-container>
    </tbody>
  </table>
  <div class="button-container">
    <a [routerLink]="['/user-agregar']" class="p-button font-bold">
      Agregar un Usuario al Sistema
    </a>
  </div>

</div>

  