<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El Perro CR Liberia</title>
    <link rel="stylesheet" href="home.component.css">
</head>
<body>
    <div class="top-banner">
        <img src="/assets/Vperro.jpeg" alt="El Perro CR Liberia">
    </div>
    <div class="textP-g">
        <h2>¡Diseños Exclusivos 100% Originales!</h2>
        <div>Bienvenidos a nuestra tienda oficial en línea de #ElPerroCR. Nos esforzamos por brindar a nuestros clientes todos los canales posibles para que puedan adquirir y disfrutar nuestros productos con mucho ❤️ desde CR</div>
    </div>
    <br><br>
    <h6>Productos destacados</h6>
    <div class="product-grid">
        <div class="product">
            <img src="/assets/v1.png" alt="Producto 1">
            <div class="description">Conjunto Sublimado</div>
            <div class="description">₡ 26,900.00 CRC</div>
        </div>
        <div class="product">
            <img src="/assets/v2.png" alt="Producto 2">
            <div class="description">Conjunto Sublimado</div>
            <div class="description">₡ 26,900.00 CRC</div>
        </div>
        <div class="product">
            <img src="/assets/v3.png" alt="Producto 3">
            <div class="description">Short Stretch</div>
            <div class="description">₡ 14,900.00 CRC</div>
        </div>
        <div class="product">
            <img src="/assets/v4.png" alt="Producto 4">
            <div class="description">Bañador Caballero</div>
            <div class="description">₡ 12,900.00 CRC</div>
        </div>
    </div>

</body>
</html>
